# Yarn
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*

# Pnpm

pnpm-lock.yaml

# Node modules
/node_modules

# Env files
.env

# Next.js build output
.next
out
public/sw.js
public/workbox-*

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm